body {
    background-color: #ddd;
    margin: 10px;
    text-align: left;
}

.mufiles-finderform fieldset,
.mufiles-finderform fieldset legend {
    background-color: #fff;
    border: none;
}

#mufilesItemContainer {
    background-color: #eee;
    height: 300px;
    overflow: auto;
    padding: 5px;
}

#mufilesItemContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#mufilesItemContainer a {
    color: #000;
    margin: 0.1em 0.2em;
    text-decoration: underline;
}
#mufilesItemContainer a:hover,
#mufilesItemContainer a:focus,
#mufilesItemContainer a:active {
    color: #900;
    text-decoration: none;
}

#mufilesItemContainer a img {
    border: none;
}

#mufilesItemContainer a img {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 0.5em;
}
#mufilesItemContainer a:hover img,
#mufilesItemContainer a:focus img,
#mufilesItemContainer a:active img {
    background-color: #fff;
}
