/* view pages */
div#z-maincontent.z-module-mufiles table tbody tr td {
    vertical-align: top;
}

/* display pages */
.mufiles-display.with-rightbox div.z-panel-content {
    float: left;
    width: 79%;
}
.mufiles-display div.mufiles-rightbox {
    float: right;
    margin: 0 1em;
    padding: .5em;
    width: 20%;
    /*border: 1px solid #666;*/
}

.mufiles-display div.mufiles-rightbox h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.mufiles-display div.mufiles-rightbox p.managelink {
    margin-left: 18px;
}
/* validation */
div.z-formrow input.required, div.z-formrow textarea.required {
    border: 1px solid #00a8e6;
}
div.z-formrow input.validation-failed, div.z-formrow textarea.validation-failed {
    border: 1px solid #f30;
    color: #f30;
}
div.z-formrow input.validation-passed, div.z-formrow textarea.validation-passed {
    border: 1px solid #0c0;
    color: #000;
}

.validation-advice {
    margin: 5px 0;
    padding: 5px;
    background-color: #f90;
    color: #fff;
    font-weight: 700;
}

/* edit pages */
form.z-form select.z-form-dropdownlist,
form.z-form input.z-form-upload {
    float: left;
}
div.mufiles-relation-leftside {
    float: left;
    width: 25%;
}

div.mufiles-relation-rightside {
    float: right;
    width: 65%;
}

/* hide legends if z-panels are used as both contain the same labels */
div.mufiles-edit .z-panel-content legend {
    display: none;
}


div.mufiles-autocomplete {
    position: relative !important;
    top: 2px !important;
    width: 191px !important;
    background-color: #fff;
    border: 1px solid #888;
    margin: 0;
    padding: 0;
}

div.mufiles-autocomplete {
    left: 0 !important;
}
div.mufiles-autocomplete ul {
    margin: 0;
    padding: 0;
}

div.mufiles-autocomplete ul li {
    margin: 0;
    padding: 0.2em 0 0.2em 20px;
    list-style-type: none;
    line-height: 1.4em;
    cursor: pointer;
    display: block;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

div.mufiles-autocomplete ul li {
    background-image: url("../../../images/icons/extrasmall/tab_right.png");
}

div.mufiles-autocomplete ul li.selected {
    background-color: #ffb;
}

div.mufiles-autocomplete ul li div.itemtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2em;
}
div.mufiles-autocomplete ul li div.itemdesc {
    font-size: 10px;
    color: #888;
}

button.mufiles-inline-button {
    margin-top: 1em;
}

div.mufiles-view form.mufiles-quicknav {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

div.mufiles-view form.mufiles-quicknav fieldset {
    padding: 3px 10px;
    margin-bottom: 0;
}

div.mufiles-view form.mufiles-quicknav fieldset h3 {
    margin-top: 0;
    display: none;
}

div.mufiles-view form.mufiles-quicknav fieldset #num {
    width: 50px;
    text-align: right;
}

/*******************OWN CODE ***********************/


.mucollectionshook ul {
	list-style: none;
	margin: 0 0 0 20px;
}

.mucollectionshook ul li {
	margin: 0;
}

.mufileshook ul {
	list-style: none;
	margin: 0 0 0 20px;
}

.mufileshook ul li {
	margin: 0;
}

.mufileshook h2 {
	margin: 0 0 0.5em 20px;
	}
}
