{# Purpose of this template: Display collections within an external context #}
{% for collection in items %}
    <h3>{{ collection|mufilesmodule_formattedTitle }}</h3>
    <p><a href="{{ path('mufilesmodule_collection_display', {'id': collection.getId()}) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
