{# purpose of this template: files user index view #}
{% extends 'MUFilesModule::base.html.twig' %}
{% block title __('Files') %}
{% block content %}
    <div class="mufilesmodule-file mufilesmodule-index">
        <p>{{ __('Welcome to the file section of the Files application.') }}</p>
    </div>
{% endblock %}
