{# purpose of this template: collections user index view #}
{% extends 'MUFilesModule::base.html.twig' %}
{% block title __('Collections') %}
{% block content %}
    <div class="mufilesmodule-collection mufilesmodule-index">
        <p>{{ __('Welcome to the collection section of the Files application.') }}</p>
    </div>
{% endblock %}
